spring:
  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update

data-api:
  url: ${DATA_API_URL}
  token: ${X_INTERNAL_TOKEN}

jwt:
  secret: ${JWT_SECRET}
  lifetime: 20m

